:root {
    --logo-color: #2196F3;
    --text-header: #212121;  /* текст заголовков */
    --main-color: #757575
}
body{
    background-color: #E5E5E5;
    font-family: Roboto, sans-serif;
    color: var(--text-header);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* Шапка or */
/* Логотип */
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    letter-spacing: 0.03em;
    color: #000000;
}

.logo span {
    color: var(--logo-color);
}

/* Навігацыя шапки */
.header .web-pages a {
    font-weight: 500;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.02em;
    color: #000000;
}

.header .web-pages a:hover{
    color: var(--logo-color);
}
.header .web-pages a:focus{
    color: var(--logo-color);
}

/* Контакти */
.contact a {
    color: var(--main-color);
}
.contact a:hover{
    color: var(--logo-color);
}
.contact a:focus{
    color: var(--logo-color);
}